body {
    background: #fafafa;
    color: #333333;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

#element1
{
        display: inline-block;
}

#element2
{
    display: inline-block;
    vertical-align: top;
    margin-top: 90px;
    alignment: left;
    width: 25%;
}